<div class="page">
  <div class="container">
    <h1 class="title text-center">Reversible Numbers Test</h1>
    <div class="row mb-3">
      <div class="col-12">
        <form id="contact-form" [formGroup]="testForm" (ngSubmit)="submitForm()">
          <div class="form-group d-flex">
            <div class="input-group mr-3">
              <input
                class="form-control"
                name="number"
                placeholder="Please insert limit number"
                formControlName="number"
                type="text"
              />
            </div>
            <button class="btn-check" mat-raised-button color="primary">Check</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
