<div class="page">
  <div class="container">
    <h1 class="title text-center">Reversible Numbers Test</h1>
    <div class="row mb-3">
      <div class="col-12">
        <form id="contact-form" [formGroup]="testForm" (ngSubmit)="submitForm()">
          <div class="form-group d-flex">
            <div class="input-group mr-3">
              <input
                class="form-control"
                name="number"
                placeholder="Please insert limit number"
                [ngClass]="{'is-invalid': isFieldInvalid('number')}"
                formControlName="number"
                type="text"
              />
              <div *ngIf="isFieldInvalid('number')" class="invalid-feedback">
                <div *ngIf="f.number.errors?.required">This field is required.</div>
                <div *ngIf="f.number.errors?.pattern">This field should be integer.</div>
              </div>
            </div>
            <button class="btn-check" mat-raised-button color="primary">Check</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="testResult?.length">
      <div class="col-12">
        <div class="result-wrapper">
          <h3>Reversible Numbers are:</h3>
          <mat-chip-list>
            <mat-chip
              *ngFor="let item of testResult; let i = index"
              color="primary"
              selected
            >
              {{item}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="testResult && !testResult.length">
      <div class="col-12">
        <h3>No Numbers</h3>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  [fullScreen]="true"
  bdColor="#2f373c99"
  color="#fff"
  size="medium"
  type="ball-scale-multiple"
>
</ngx-spinner>
